*{
    margin: 0;
    padding: 0;
   

}
.main{
    background-color: black;
   margin: 100px auto;
    width: 800px;
    height: auto;
   
    color: rgb(103, 235, 20);
    border-radius: 20px;
}
h3{
    font-size: 90px;
    position: center;
    
}
p{
    padding: 10px;
}
h2{
    background-color: rgb(20, 24, 235);
    border-radius: 6px;
    width: 300px;
}
a{
    color: rgb(253, 253, 253);
    font-family: Verdana;
    font-size: 30px;
    
}
